<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{12} %X{traceId} %X{userId} %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>
