<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mis.hrm.member.dao.MemberMapper" >
    <resultMap id="BaseResultMap" type="com.mis.hrm.member.pojos.Member">
        <id column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <id column="num" property="num" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="profession" property="profession" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.mis.hrm.member.pojos.Member">
        insert into member(company_id, num, name, phone_number, email, grade, sex, profession, department)
         values (#{companyId},#{num},#{name},#{phoneNumber},#{email},#{grade},#{sex},#{profession},#{department});
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="com.mis.hrm.member.pojos.Member">
        delete from member where company_id = #{companyId} and num = #{num};
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.mis.hrm.member.pojos.Member">
        update member
        <set>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="num != null">num = #{num},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="profession != null">profession = #{profession},</if>
            <if test="department != null">department = #{department},</if>
        </set>
        where company_id = #{companyId} and num = #{num};
    </update>

    <select id="selectByPrimaryKey" resultType="com.mis.hrm.member.pojos.Member" resultMap="BaseResultMap">
        select company_id, num, name, phone_number, email, grade, sex, profession, department from member where company_id = #{companyId} and num = #{num};
    </select>

</mapper>