<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.project.dao.ProjectMapper">
    <resultMap id="projectMapper" type="com.mis.hrm.project.po.Project">
        <result property="companyId" column="company_id"/>
        <result property="projectId" column="project_id"/>
        <result property="name" column="name"/>
        <result property="ip" column="ip"/>
        <result property="ports" column="ports"/>
        <result property="location" column="location"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="com.mis.hrm.project.po.Project">
        delete from project where project_id = #{projectId} and company_id = #{companyId}
    </delete>

    <insert id="insert" parameterType="com.mis.hrm.project.po.Project">
        insert into project (company_id, name, ip, ports,location)
        values (#{companyId},#{name},#{ip},#{ports},#{location})
    </insert>

    <select id="selectByPrimaryKey" parameterType="com.mis.hrm.project.po.Project" resultMap="projectMapper">
        select company_id, project_id, name, ip, ports
          from project where 1=1
        <if test="companyId != null">
            and company_id = #{companyId}
        </if>
        <if test="projectId != 0">
            and project_id = #{projectId}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="ip != null">
            and ip = #{ip}
        </if>
        <if test="ports != null">
            and ports = #{ports}
        </if>
    </select>

    <update id="updateByPrimaryKey" parameterType="com.mis.hrm.project.po.Project">
        update project
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="ports != null">
                ports = #{ports}
            </if>
            <if test="location != null">
                location = #{location}
            </if>
        </set>
        where company_id = #{companyId} and project_id = #{projectId}
    </update>
    <select id="getProjectCount" parameterType="com.mis.hrm.project.po.Project" resultType="java.lang.Integer">
        select count(*) from project where company_id = #{companyId};
    </select>
    <select id="getCountByKeys" parameterType="com.mis.hrm.project.po.Project" resultType="java.lang.Integer">
        select count(*)
        from project where 1=1
        <if test="companyId != null">
            and company_id like '%${companyId}%'
        </if>
        <if test="projectId != 0">
            and project_id like '%${projectId}%'
        </if>
        <if test="name != null">
            and name like '%${name}%'
        </if>
        <if test="ip != null">
            and ip like '%${ip}%'
        </if>
        <if test="ports != null">
            and ports like '%${ports}%'
        </if>
    </select>
    <select id="selectByPrimaryKeyAndPage" resultMap="projectMapper">
        select company_id, project_id, name, ip, ports
        from project where 1=1
        <if test="key.companyId != null">
            and company_id like '%${key.companyId}%'
        </if>
        <if test="key.projectId != 0">
            and project_id like '%${key.projectId}%'
        </if>
        <if test="key.name != null">
            and name like '%${key.name}%'
        </if>
        <if test="key.ip != null">
            and ip like '%${key.ip}%'
        </if>
        <if test="key.ports != null">
            and ports like '%${key.ports}%'
        </if>
        limit #{offset},#{size}
    </select>
    <delete id="deleteByProjectIds">
        delete from project where company_id =#{companyId} and project_id in(
        <foreach collection="numList" item="arr"
                 separator=",">
            #{arr}
        </foreach>
        )
    </delete>
</mapper>
