<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.book.dao.BookMapper">
    <resultMap id="company" type="com.mis.hrm.login.entity.Company">
        <id column="email" property="email"/>
        <result column="name" property="name"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="organization_size" property="organizationSize"/>
        <result column="main_category" property="mainCategory"/>
        <result column="vice_category" property="viceCategory"/>
        <result column="password" property="password"/>
    </resultMap>

    <sql id="company_column">
        email,name,applicant_name,organization_size,main_category,vice_category,password
    </sql>

    <insert id="insert" parameterType="com.mis.hrm.login.entity.Company">
        insert into company values (#{email},#{name},#{applicant_name},#{organization_size},#{main_category},
                                 #{vice_category},#{password});
    </insert>

    <select id="selectByPrimaryKey" parameterType="com.mis.hrm.login.entity.Company" resultMap="company">
        select
        <include refid="company_column"/>
        from company where email = #{email};
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.mis.hrm.login.entity.Company">
        delete from company
        where email = #{email}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.mis.hrm.login.entity.Company">
        update company
        <set>
            <if test="#{name}!=null">
                name = #{name},
            </if>
            <if test="#{applicantName}!=null">
                application_name = #{applicant_name},
            </if>
            <if test="#{organizationSize}!=null">
                organization_size =#{organizationSize},
            </if>
            <if test="#{mainCategory}!=null">
                main_category = #{mainCategory},
            </if>
            <if test="#{viceCategory}!=null">
                vice_category=#{viceCategory},
            </if>
            <if test="#{password}!=null">
                password = #{password},
            </if>
        </set>
        where email = #{email}
    </update>
</mapper>