<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.book.dao.BookMapper" >
    <resultMap id="BaseResultMap" type="com.mis.hrm.util.model.Demo" >
        <id column="username" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    username,password
  </sql>
    <insert id="insert" parameterType="com.mis.hrm.util.model.Demo">
        insert into user values(#{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR});
    </insert>
    <select id="selectByPrimaryKey" parameterType="com.mis.hrm.util.model.Demo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from hrms.user where username = #{name};
    </select>
</mapper>