<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.book.dao.BookMapper">
    <resultMap id="bookResultMap" type="com.mis.hrm.book.po.Book">
        <result property="companyId" column="company_id"/>
        <result property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="category" column="category"/>
        <result property="quantity" column="num"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        company_id, book_name, category, num, version, book_id
    </sql>

    <insert id="insert" parameterType="com.mis.hrm.book.po.Book">
        insert into library (company_id, book_name, category, num, version, book_id)
          VALUES (#{companyId},#{bookName},#{category},#{quantity},#{version},#{bookId})
    </insert>

    <select id="selectByPrimaryKey" parameterType="com.mis.hrm.book.po.Book" resultMap="bookResultMap">
        select
        <include refid="Base_Column_List"/>
        from library where book_id = #{bookId};
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.mis.hrm.book.po.Book">
        delete from library where book_id = #{bookId};
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.mis.hrm.book.po.Book">
        update library
          <set>
              <if test="companyId">
                  company_id = #{companyId},
              </if>
              <if test="bookName">
                  book_name = #{bookName},
              </if>
              <if test="category">
                  category = #{category},
              </if>
              <if test="quantity">
                  num = #{quantity},
              </if>
              <if test="version">
                  version = #{version}
              </if>
          </set>
        where book_id = #{bookId}
    </update>


</mapper>