<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.index.dao.IndexMapper">
    <resultMap id="index" type="com.mis.hrm.index.entity.Index">
        <id property="companyId" column="company_id"/>
        <result property="outline" column="outline"/>
        <result property="photoPath" column="photo_path"/>
    </resultMap>

    <sql id="index_column">
        company_id,outline,photo_path
    </sql>

    <insert id="insert" parameterType="com.mis.hrm.index.entity.Index">
        INSERT INTO `index`
        values (#{companyId},#{outline},#{photoPath})
    </insert>

    <select id="selectByPrimaryKey" parameterType="com.mis.hrm.index.entity.Index" resultMap="index">
        SELECT
        <include refid="index_column"/>
        FROM `index`
        WHERE company_id=#{companyId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.mis.hrm.index.entity.Index">
        DELETE FROM `index`
        WHERE company_id=#{companyId}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.mis.hrm.index.entity.Index">
        UPDATE `index`
        <set>
            <if test="outline != null">
                outline=#{outline},
            </if>
            <if test="photoPath != null">
                photo_path=#{photoPath},
            </if>
        </set>
        WHERE company_id=#{companyId}
    </update>

</mapper>