<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="indexLog" class="com.mis.hrm.index.interceptor.LogInterceptor">
        <constructor-arg type="java.lang.String" value="index"/>
        <constructor-arg type="java.lang.String" value=""/>
    </bean>

    <aop:config>
        <aop:aspect id="logMonitor" ref="indexLog" order="1">
            <aop:pointcut id="indexLogAround"
                          expression="(execution(* com.mis.hrm.index.*.*.*(..)))"/>
            <aop:around pointcut-ref="indexLogAround" method="around"/>
        </aop:aspect>
    </aop:config>
</beans>
