<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mis.hrm.login.*"/>
    <!--仅会查找在同一个Application中的bean注解-->
    <context:annotation-com.mis.hrm.member.config/>
    <bean id="loginLog" class="com.mis.hrm.login.interceptor.LogInterceptor">
        <constructor-arg type="java.lang.String" value="login"/>
        <constructor-arg type="java.lang.String" value=""/>
    </bean>

    <aop:com.mis.hrm.member.config>
        <aop:aspect id="logMonitor" ref="loginLog" order="1">
            <aop:pointcut id="loginLogAround"
                          expression="(execution(* com.mis.hrm.login.*.*.*(..)))"/>
            <aop:around pointcut-ref="loginLogAround" method="around"/>
        </aop:aspect>
    </aop:com.mis.hrm.member.config>
</beans>