<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mis.hrm.book.dao.BookLendInfoMapper">
    <resultMap id="bookLendInfoResult" type="bookLendInfo">
        <result property="companyId" column="company_id"/>
        <result property="bookRecord" column="book_record"/>
        <result property="bookName" column="book_name"/>
        <result property="lendTime" column="lend_time"/>
        <result property="returnTime" column="return_time"/>
        <result property="borrower" column="borrower"/>
    </resultMap>
    <sql id="Base_Column_List">
        company_id, book_record, book_name, lend_time, return_time, borrower
    </sql>

    <insert id="insert" parameterType="book">
        insert into booklend (company_id, book_record, book_name, lend_time, borrower)
          VALUES (#{companyId},#{bookRecord},#{bookName},#{lendTime},#{borrower})
    </insert>

    <select id="selectByPrimaryKey" parameterType="bookLendInfo" resultMap="bookLendInfoResult">
        select
        <include refid="Base_Column_List"/>
        from booklend where company_id = #{companyId} and book_record = #{bookRecord};
    </select>

    <delete id="deleteByPrimaryKey" parameterType="bookLendInfo">
        delete from booklend where company_id = #{companyId} and book_record = #{bookRecord};
    </delete>

    <update id="updateByPrimaryKey" parameterType="bookLendInfo">
        update booklend
        <set>
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="lendTime != null">
                lend_time = #{lendTime},
            </if>
            <if test="returnTime != null">
                return_time = #{returnTime},
            </if>
            <if test="borrower != null">
                borrower = #{borrower}
            </if>
        </set>
        where company_id = #{companyId} and book_record = #{bookRecord};
    </update>

    <select id="selectBookLendInfosByBorrower" parameterType="string" resultMap="bookLendInfoResult">
        select
        <include refid="Base_Column_List"/>
        from booklend where borrower = #{borrower};
    </select>

    <select id="selectBookLendInfosByCompanyId" parameterType="string" resultMap="bookLendInfoResult">
        select
        <include refid="Base_Column_List"/>
        from booklend where company_id = #{companyId};
    </select>

    <select id="selectBookLendInfosByCompanyIdAndBookName" resultMap="bookLendInfoResult">
        select
        <include refid="Base_Column_List"/>
        from booklend where company_id = #{companyId} and book_name = #{bookName};
    </select>

    <select id="selectAll" resultMap="bookLendInfoResult">
        select <include refid="Base_Column_List"/> from booklend;
    </select>

    <select id="getCountByKeys" parameterType="com.mis.hrm.book.po.BookLendInfo" resultType="java.lang.Integer">
        select count(*)
        from booklend where 1=1
        <if test="companyId != null">
            and company_id = #{companyId}
        </if>
        <if test="bookRecord != null">
            and book_record = #{bookRecord}
        </if>
        <if test="bookName != null">
            and book_name = #{bookName}
        </if>
        <if test="lendTime != null">
            and lend_time = #{lendTime}
        </if>
        <if test="returnTime!= null">
            and return_time = #{returnTime}
        </if>
        <if test="borrower!= null">
            and borrower = #{borrower}
        </if>
    </select>
    <select id="selectByPrimaryKeyAndPage" resultMap="bookLendInfoResult">
        select <include refid="Base_Column_List"/>
        from booklend where 1=1
        <if test="key.companyId != null">
            and company_id like '%${key.companyId}%'
        </if>
        <if test="key.bookRecord != null">
            and book_record like '%${key.bookRecord}%'
        </if>
        <if test="key.bookName != null">
            and book_name like '%${key.bookName}'
        </if>
        <if test="key.lendTime != null">
            and lend_time like '%${key.lendTime}'
        </if>
        <if test="key.returnTime!= null">
            and return_time like '%${key.returnTime}'
        </if>
        <if test="key.borrower!= null">
            and borrower like '%$key.borrower}'
        </if>
        limit #{offset},#{size}
    </select>
</mapper>