<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.mis.hrm.book.*"/>
    <!--仅会查找在同一个Application中的bean注解-->
    <context:annotation-com.mis.hrm.member.config/>


    <bean id="bookLog" class="com.mis.hrm.book.interceptor.LogInterceptor">
        <constructor-arg type="java.lang.String" value="book"/>
        <constructor-arg type="java.lang.String" value=""/>
    </bean>

    <aop:com.mis.hrm.member.config>
        <aop:aspect id="logMonitor" ref="bookLog" order="1">
            <aop:pointcut id="bookLogAround"
                          expression="(execution(* com.mis.hrm.book.*.*.*(..)))"/>
            <aop:around pointcut-ref="bookLogAround" method="around"/>
        </aop:aspect>
    </aop:com.mis.hrm.member.config>
</beans>